body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
h1{
  text-align: center;
  font-size: 62px;
  background:-webkit-linear-gradient(top, red 30%, blue 70%);
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;

}
h2{
  text-align: center;
  margin-bottom: 80px;
}
.board-row{
  display: flex;
  justify-content: center;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 50px;
  font-size: 1.8em;
  text-align: center;
}
.square {
  background: #fff;
  border: 3px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 64px;
  height: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.new-game {
  font-size: 1.3em;
  height: 75px;
  width: 150px;
  margin: 0px auto;
  margin-top: 26px;
  background:-webkit-linear-gradient(bottom, red 30%, blue 70%);
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
  
}

.game-info {
  margin-left: 20px;
}
